<strong><a href="{{ .Permalink }}">{{- .Title}}</a></strong>
{{- if .Pages -}}
    <ul>
    {{ range .Pages }}
      <li>
        {{ .Render "summary" }}
      </li>
    {{ end }}
  </ul>
{{- else -}}
    {{- with .GetTerms "coauthors" }}
        with {{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ partial "coauthor" $e }}{{ end }}
    {{- end }}
    <br>
    {{ .Page.Params.Venue }} ({{ .Page.Params.Location }}. {{ .Page.Date.Format "January 2, 2006" }})
    <ul class="post-tags">
        {{ if .Params.pdf }}
        <li><a href ={{ print .Permalink .Params.pdf }}>slides</a></li>
        {{ end }}
        {{ with .Params.link }}
        <li><a href ={{ . }}>link</a></li>
        {{ end }}
    </ul>
{{- end -}}